.the-footer {
  font-size: .6875rem;
  font-weight: 200;
  width: 92%;
  height: 10.2727em;
  margin-left: 4%;
  margin-top: 12em;
  border-top: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    text-decoration: none;
  }

  a:link {
    color: $color_text;
  }

  a:visited {
    color: $color_text;
  }

  a:hover {
    color: $color_text;
  }

  a:active {
    color: $color_text;
  }
  
  .footer-grid {
    height: 5.46em;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: center;
    margin: 0 auto 0 14%;

    .address {
      margin-right: 5%;
      width: 11.1em;
    }
  
    .address, .contact{
      font-size: 1em;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
    .social {
      margin-top: 0.8em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 8.55em;

      img {
        width: 0.9em;
      }
    }
  }

  @media #{$tablet-breakpoint} {
    font-size: 0.75rem;
    border-top: none;

    .footer-grid {
      margin: auto 0;
      justify-content: flex-start;

      .address {
        margin-right: 1.5em;
      }

      .contact {
        margin-bottom: 2em;
      }
      .social {
        margin-top: 0;
        margin-left: 2.5em;
      }
    }
  }

  @media #{$small-desktop-breakpoint} {
    font-size: 0.9rem;
  }

  @media #{$desktop-breakpoint} {
    font-size: 1.0625rem;

    .footer-grid {
      .social {
        width: 8.12em;
        margin-left: 12em;

        img {
          width: 1.3em;
        }
      }
    }
  }

  @media #{$large-desktop-breakpoint} {
    margin-left: 7%;
  }
}