@import 'common';

.no-js .home-main .our-core-principles .principle p {
  opacity: 1;
}

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8125rem;
  padding-bottom: 0.5em;

  h2 {
    font-size: 1.231em;
  }

  h2.lead {
    margin: 0 6.1333%;
  }
  .hero img {
    height: fit-content;
}
  @media only screen and (max-width: 667px) {
    #img-responsive{
      max-width: 90%;
      max-height: fit-content;
      margin: 5%;
    }
   
    .para-responsive{
      padding-top: 18% !important;
    font-weight: 500 !important;
    text-align: center!important;
    width: 80%!important;
    word-spacing: 2px!important;
    font-family: 'FormaDJRDisplay' !important;
    font-size: 13px !important;
    line-height: 17px!important;
    }
  }
  #para-responsive{
    padding-top: 20%;
    font-weight: 400;
    text-align: center;
    width: 70%;
    word-spacing: 2px;
    font-family: 'FormaDJRDisplay';
    font-size: 26px;
    line-height: 30px;
  }

  .hero {
    width: 97vw;
    height: 45.867vw;
    margin-top: 0.6154em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 49.45%;

      img {
        min-height: 80%;
      }

      figcaption {
        max-width: 80%;
        text-align: center;
        margin-top: 0.4545em;
        font-size: 0.84615em;
        font-weight: 300;
        line-height: 1.09;
        letter-spacing: 0.06em;

        b {
          font-weight: bold;
        }
      }
    }

    .hero-left {
      justify-content: flex-end;
    }
  }

  h2.principles {
    max-width: 90.133%;
    margin-top: 3.2em;
    text-align: center;
  }

  .our-core-principles {
    margin-top: 5.5em;
    width: 84.533%;

    h2 {
      text-align: center;
      margin-bottom: 1.9em;
      font-size: 1.8462em;
      font-weight: normal;
      line-height: 2.29;
      letter-spacing: 0.06em;
    }

    .enumerated-principles {
      display: flex;
      flex-direction: column;
    }

    .principle {
      max-width: 50%;
      margin-bottom: 2.75em;
      line-height: 1.23;
      letter-spacing: 0.06em;

      h3 {
        margin-bottom: 0.62em;
        font-size: 1.8462em;
        font-weight: bold;
        line-height: 0.88;
        letter-spacing: 0.1em;
      }

      p {
        opacity: 0;
      }
    }

    .ii {
      margin-left: 23.2%;
    }

    .iii {
      margin-left: 40%;
    }

    .iv {
      margin-left: 60.5%;
    }
  }

  @media #{$tablet-breakpoint} {
    font-size: 1rem;

    h2 {
      font-size: 1.625em;
    }

    h2.lead {
      max-width: 60%;
      margin: unset;
      margin-left: 6%;
      align-self: baseline;
    }

    .hero {
      width: 88vw;
      height: 35.5vw;

      figure {
        width: 48.3%;
      }
    }

    .our-core-principles {
      width: 90.625%;
      margin-top: 3.4375em;

      .enumerated-principles {
        flex-direction: row;
        justify-content: space-between;
      }

      .principle {
        max-width: 21.55%;
        margin-bottom: unset;
        margin-left: unset;
        line-height: 1.2;
      }
  
      .ii {
        margin-top: 2.6em;
      }
  
      .iii {
        margin-top: 7em;
      }
  
      .iv {
        margin-top: 10.4em;
      }
    }
  }

  @media #{$small-desktop-breakpoint} {
    font-size: 1.25rem;

    h2 {
      font-size: 1.8125em;
    }
  }

  @media #{$desktop-breakpoint} {
    font-size: 1.5rem;

    h2 {
      font-size: 2em;
    }

    h2.lead {
      width: 51.0412%;
      margin-left: 8.75%;
    }

    .hero {
      width: 82.5vw;
      height: 33.33vw;
    }

    h2.principles {
      max-width: 85%;
      margin-top: 2.3em;
    }

    .our-core-principles {
      width: 71.875%;
      margin-top: 4em;

      .principle {
        max-width: 23.26%;
      }
  
      .ii {
        margin-top: 6.75em;
      }
  
      .iii {
        margin-top: 11.875em;
      }
  
      .iv {
        margin-top: 15.82em;
      }
    }
  }

  @media #{$large-desktop-breakpoint} {
    font-size: 1.875rem;

    h2.principles {
      margin-top: 3.33em;
    }

    .our-core-principles {
      width: 68.4375%;
      margin-top: 6em;

      .principle {
        max-width: 20%;
      }
    }
  }

  @media #{$very-large-desktop-breakpoint} {
    h2.lead {
      width: 30%;
    }
  }
}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0){ 
  .home-main .hero img {
    height: intrinsic;
}
}
